# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# 版本：apache-skywalking-java-agent-9.4.0

# UI中显示的服务名称
# ${service name} = [${group name}::]${logic name}
# 组名是可选的
agent.service_name=test
agent.service_name#length=${SW_AGENT_NAME_MAX_LENGTH:50}

# Agent命名空间
agent.namespace=${SW_AGENT_NAMESPACE:}

# Agent集群配置
agent.cluster=${SW_AGENT_CLUSTER:}

# 每3秒采样的跟踪数量
# 负数或零表示关闭，默认情况下
agent.sample_n_per_3_secs=${SW_AGENT_SAMPLE:-1}

# 认证基于后端设置，详情请参见application.yml
agent.authentication=${SW_AGENT_AUTHENTICATION:}

# 单个span中TraceSegmentRef的最大数量，用于控制内存成本
agent.trace_segment_ref_limit_per_span=${SW_TRACE_SEGMENT_LIMIT:500}

# 单个segment中span的最大数量
# 通过此配置项，SkyWalking可以估算应用程序的内存成本
agent.span_limit_per_segment=${SW_AGENT_SPAN_LIMIT:300}

# 如果第一个span的操作名称包含在此集合中，则应忽略此segment。多个值应以','分隔
agent.ignore_suffix=${SW_AGENT_IGNORE_SUFFIX:.jpg,.jpeg,.js,.css,.png,.bmp,.gif,.ico,.mp3,.mp4,.html,.svg}

# 如果为true，SkyWalking agent会将所有instrumented类文件保存在`/debugging`文件夹中
# SkyWalking团队可能会要求提供这些文件以解决兼容性问题
agent.is_open_debugging_class=${SW_AGENT_OPEN_DEBUG:false}

# 实例名称是实例的标识，在服务中应该是唯一的。如果为空，SkyWalking agent将生成一个32位uuid
# 默认情况下，SkyWalking使用UUID@hostname作为实例名称。最大长度为50个UTF-8字符
agent.instance_name=${SW_AGENT_INSTANCE_NAME:}
agent.instance_name#length=${SW_AGENT_INSTANCE_NAME_MAX_LENGTH:50}

# 服务实例属性，以json格式表示。例如：agent.instance_properties_json = {"org": "apache-skywalking"}
agent.instance_properties_json=${SW_INSTANCE_PROPERTIES_JSON:}

# 当记录所有原因异常时，agent深入的程度
agent.cause_exception_depth=${SW_AGENT_CAUSE_EXCEPTION_DEPTH:5}

# 基于grpc_channel_check_interval的grpc强制重连周期
agent.force_reconnection_period=${SW_AGENT_FORCE_RECONNECTION_PERIOD:1}

# 操作名称的最大长度
# 注意，在当前实践中，我们不建议长度超过190
agent.operation_name_threshold=${SW_AGENT_OPERATION_NAME_THRESHOLD:150}

# 如果此值为true，即使后端不可用也会继续跟踪
agent.keep_tracing=${SW_AGENT_KEEP_TRACING:false}

# Agent默认使用gRPC明文传输
# 如果为true，即使未检测到CA文件，SkyWalking agent也会使用TLS
agent.force_tls=${SW_AGENT_FORCE_TLS:false}

# gRPC SSL受信任的CA文件路径
agent.ssl_trusted_ca_path=${SW_AGENT_SSL_TRUSTED_CA_PATH:/ca/ca.crt}

# 当ssl_key_path和ssl_cert_chain_path存在时启用mTLS
agent.ssl_key_path=${SW_AGENT_SSL_KEY_PATH:}

agent.ssl_cert_chain_path=${SW_AGENT_SSL_CERT_CHAIN_PATH:}

# 启用agent内核服务和instrumentation
agent.enable=${SW_AGENT_ENABLE:true}

# 限制ipv4列表大小
osinfo.ipv4_list_size=${SW_AGENT_OSINFO_IPV4_LIST_SIZE:10}

# grpc通道状态检查间隔
collector.grpc_channel_check_interval=${SW_AGENT_COLLECTOR_GRPC_CHANNEL_CHECK_INTERVAL:30}
# Agent心跳报告周期，单位为秒
collector.heartbeat_period=${SW_AGENT_COLLECTOR_HEARTBEAT_PERIOD:30}
# Agent每隔collector.heartbeat_period * collector.properties_report_period_factor秒向后端发送实例属性
collector.properties_report_period_factor=${SW_AGENT_COLLECTOR_PROPERTIES_REPORT_PERIOD_FACTOR:10}
# 后端服务地址
collector.backend_service=${SW_AGENT_COLLECTOR_BACKEND_SERVICES:127.0.0.1:11800}
# grpc客户端向上游发送数据的超时时间，单位为秒
collector.grpc_upstream_timeout=${SW_AGENT_COLLECTOR_GRPC_UPSTREAM_TIMEOUT:30}
# Sniffer获取配置文件任务列表的间隔
collector.get_profile_task_interval=${SW_AGENT_COLLECTOR_GET_PROFILE_TASK_INTERVAL:20}
# Sniffer获取agent动态配置的间隔
collector.get_agent_dynamic_config_interval=${SW_AGENT_COLLECTOR_GET_AGENT_DYNAMIC_CONFIG_INTERVAL:20}
# 如果为true，skywalking agent将启用定期解析DNS以更新接收器服务地址
collector.is_resolve_dns_periodically=${SW_AGENT_COLLECTOR_IS_RESOLVE_DNS_PERIODICALLY:false}

# 日志级别
logging.level=${SW_LOGGING_LEVEL:INFO}
# 日志文件名
logging.file_name=${SW_LOGGING_FILE_NAME:skywalking-api.log}
# 日志输出。默认为FILE。使用CONSOLE表示输出到标准输出
logging.output=${SW_LOGGING_OUTPUT:FILE}
# 日志文件目录。默认为空字符串，表示使用"{theSkywalkingAgentJarDir}/logs"输出日志
# {theSkywalkingAgentJarDir}是skywalking agent jar文件所在的目录
logging.dir=${SW_LOGGING_DIR:}
# 日志解析器：PATTERN或JSON。默认为PATTERN，使用logging.pattern打印传统文本日志
# JSON解析器以JSON格式打印日志
logging.resolver=${SW_LOGGING_RESOLVER:PATTERN}
# 日志格式。所有转换说明符：
#  * %level表示日志级别
#  * %timestamp表示格式为yyyy-MM-dd HH:mm:ss:SSS的当前时间
#  * %thread表示当前线程的名称
#  * %msg表示用户记录的某些消息
#  * %class表示目标类的简单名称
#  * %throwable表示用户调用的throwable
#  * %agent_name表示agent.service_name。仅适用于PatternLogger
logging.pattern=${SW_LOGGING_PATTERN:%level %timestamp %thread %class : %msg %throwable}
# 日志最大文件大小，默认：300 * 1024 * 1024 = 314572800
logging.max_file_size=${SW_LOGGING_MAX_FILE_SIZE:314572800}
# 最大历史日志文件数。当发生翻转时，如果日志文件超过此数量，
# 则删除最旧的文件。负数或零表示关闭，默认情况下
logging.max_history_files=${SW_LOGGING_MAX_HISTORY_FILES:-1}

# 列出的异常不会被视为错误。因为在某些代码中，异常被用作控制业务流程的方式
# 此外，跟踪工具包中的IgnoredException注解是配置忽略异常的另一种方式
statuscheck.ignored_exceptions=${SW_STATUSCHECK_IGNORED_EXCEPTIONS:}
# 检查agent跟踪的异常时的最大递归深度。通常，我们不建议将其设置为超过10，这可能会导致性能问题
# 负值和0将被忽略，这意味着所有异常都会使span标记为错误状态
statuscheck.max_recursive_depth=${SW_STATUSCHECK_MAX_RECURSIVE_DEPTH:1}

# 关联上下文中的最大元素数量
correlation.element_max_number=${SW_CORRELATION_ELEMENT_MAX_NUMBER:3}

# 每个元素的最大值长度

correlation.value_max_length=${SW_CORRELATION_VALUE_MAX_LENGTH:128}
# 当关联上下文中的键存在时，使用键/值标记span
correlation.auto_tag_keys=${SW_CORRELATION_AUTO_TAG_KEYS:}
# 收集的JVM信息的缓冲区大小
jvm.buffer_size=${SW_JVM_BUFFER_SIZE:600}
# JVM指标收集周期，单位为秒
jvm.metrics_collect_period=${SW_JVM_METRICS_COLLECT_PERIOD:1}
# 缓冲通道大小
buffer.channel_size=${SW_BUFFER_CHANNEL_SIZE:5}
# 缓冲区大小
buffer.buffer_size=${SW_BUFFER_BUFFER_SIZE:300}
# 如果为true，当用户创建新的配置文件任务时，skywalking agent将启用配置文件。否则禁用配置文件
profile.active=${SW_AGENT_PROFILE_ACTIVE:true}
# 并行监视端点线程数
profile.max_parallel=${SW_AGENT_PROFILE_MAX_PARALLEL:5}
# 单个端点访问的最大监视子任务数
profile.max_accept_sub_parallel=${SW_AGENT_PROFILE_MAX_ACCEPT_SUB_PARALLEL:5}
# 最大监视段时间(分钟)，如果当前段监视超时，则停止它
profile.duration=${SW_AGENT_PROFILE_DURATION:10}
# 最大转储线程堆栈深度
profile.dump_max_stack_depth=${SW_AGENT_PROFILE_DUMP_MAX_STACK_DEPTH:500}
# 快照传输到后端的缓冲区大小
profile.snapshot_transport_buffer_size=${SW_AGENT_PROFILE_SNAPSHOT_TRANSPORT_BUFFER_SIZE:4500}
# 如果为true，当用户创建新的异步分析器任务时将启用异步分析器。如果为false，则禁用。默认值为true
asyncprofiler.active=${SW_AGENT_ASYNC_PROFILER_ACTIVE:true}
# 异步分析器的最大执行时间(秒)。即使指定了更长的时间，任务也会停止。默认20分钟
asyncprofiler.max_duration=${SW_AGENT_ASYNC_PROFILER_MAX_DURATION:1200}
# 异步分析器的JFR输出路径。如果参数不为空，文件将在指定目录中创建，否则将使用Files.createTemp方法创建文件
asyncprofiler.output_path=${SW_AGENT_ASYNC_PROFILER_OUTPUT_PATH:}
# 如果为true，agent会收集并向后端报告指标
meter.active=${SW_METER_ACTIVE:true}
# 报告仪表间隔。单位为秒
meter.report_interval=${SW_METER_REPORT_INTERVAL:20}
# 仪表池的最大大小
meter.max_meter_size=${SW_METER_MAX_METER_SIZE:500}
# 发送到服务器的消息的最大大小。默认为10 MB
log.max_message_size=${SW_GRPC_LOG_MAX_MESSAGE_SIZE:10485760}

# 挂载插件的特定文件夹。挂载文件夹中的插件将起作用
plugin.mount=${SW_MOUNT_FOLDERS:plugins,activations}
# 对等方最大描述限制
plugin.peer_max_length=${SW_PLUGIN_PEER_MAX_LENGTH:200}
# 排除plugins目录中定义的一些插件。插件名称在[Agent plugin list](Plugin-list.md)中定义
plugin.exclude_plugins=${SW_EXCLUDE_PLUGINS:}
# 如果为true，则跟踪MongoDB访问中的所有参数，默认为false。仅跟踪操作，不包括参数
plugin.mongodb.trace_param=${SW_PLUGIN_MONGODB_TRACE_PARAM:false}
# 如果设置为正数，`WriteRequest.params`将被截断到此长度，否则将完全保存，这可能会导致性能问题
plugin.mongodb.filter_length_limit=${SW_PLUGIN_MONGODB_FILTER_LENGTH_LIMIT:256}
# 如果为true，则跟踪ElasticSearch访问中的所有DSL(领域特定语言)，默认为false
plugin.elasticsearch.trace_dsl=${SW_PLUGIN_ELASTICSEARCH_TRACE_DSL:false}
# 如果为true，将使用完全限定的方法名作为端点名称而不是请求URL，默认为false
plugin.springmvc.use_qualified_name_as_endpoint_name=${SW_PLUGIN_SPRINGMVC_USE_QUALIFIED_NAME_AS_ENDPOINT_NAME:false}
# 如果为true，将使用完全限定的方法名作为操作名称而不是给定的操作名称，默认为false
plugin.toolkit.use_qualified_name_as_operation_name=${SW_PLUGIN_TOOLKIT_USE_QUALIFIED_NAME_AS_OPERATION_NAME:false}
# 如果设置为true，将收集sql参数(通常是`java.sql.PreparedStatement`)
plugin.jdbc.trace_sql_parameters=${SW_JDBC_TRACE_SQL_PARAMETERS:false}
# 如果设置为正数，`db.sql.parameters`将被截断到此长度，否则将完全保存，这可能会导致性能问题
plugin.jdbc.sql_parameters_max_length=${SW_PLUGIN_JDBC_SQL_PARAMETERS_MAX_LENGTH:512}
# 如果设置为正数，`db.statement`将被截断到此长度，否则将完全保存，这可能会导致性能问题
plugin.jdbc.sql_body_max_length=${SW_PLUGIN_JDBC_SQL_BODY_MAX_LENGTH:2048}
# 如果为true，则跟踪Solr查询请求中的所有查询参数(包括deleteByIds和deleteByQuery)，默认为false
plugin.solrj.trace_statement=${SW_PLUGIN_SOLRJ_TRACE_STATEMENT:false}
# 如果为true，则跟踪Solr请求中的所有操作参数，默认为false
plugin.solrj.trace_ops_params=${SW_PLUGIN_SOLRJ_TRACE_OPS_PARAMS:false}
# 如果为true，则跟踪Light4J处理程序链中作为请求一部分的所有中间件/业务处理程序
plugin.light4j.trace_handler_chain=${SW_PLUGIN_LIGHT4J_TRACE_HANDLER_CHAIN:false}
# 如果为true，将简化事务定义名称
plugin.springtransaction.simplify_transaction_definition_name=${SW_PLUGIN_SPRINGTRANSACTION_SIMPLIFY_TRANSACTION_DEFINITION_NAME:false}
# 线程类(`java.lang.Runnable`和`java.util.concurrent.Callable`)及其子类，包括名称匹配`THREADING_CLASS_PREFIXES`中任何一个的匿名内部类(以','分隔)将被instrumented，请确保只指定与您期望instrument的范围一样窄的前缀，(`java.`和`javax.`由于安全问题将被忽略)
plugin.jdkthreading.threading_class_prefixes=${SW_PLUGIN_JDKTHREADING_THREADING_CLASS_PREFIXES:}
# 此配置项控制Tomcat插件是否应收集请求的参数。在分析跟踪中也会隐式激活
plugin.tomcat.collect_http_params=${SW_PLUGIN_TOMCAT_COLLECT_HTTP_PARAMS:false}
# 此配置项控制SpringMVC插件是否应收集请求的参数，当您的Spring应用程序基于Tomcat时，请考虑只设置`plugin.tomcat.collect_http_params`或`plugin.springmvc.collect_http_params`中的一个。在分析跟踪中也会隐式激活
plugin.springmvc.collect_http_params=${SW_PLUGIN_SPRINGMVC_COLLECT_HTTP_PARAMS:false}
# 此配置项控制HttpClient插件是否应收集请求的参数
plugin.httpclient.collect_http_params=${SW_PLUGIN_HTTPCLIENT_COLLECT_HTTP_PARAMS:false}
# 当启用`COLLECT_HTTP_PARAMS`时，要保留并发送到OAP后端的字符数，使用负值保留并发送完整参数，注意：此配置项是为了性能而添加的
plugin.http.http_params_length_threshold=${SW_PLUGIN_HTTP_HTTP_PARAMS_LENGTH_THRESHOLD:1024}
# 当`include_http_headers`声明标头名称时，此阈值控制所有标头值的长度限制。使用负值保留并发送完整的标头。注意：此配置项是为了性能而添加的
plugin.http.http_headers_length_threshold=${SW_PLUGIN_HTTP_HTTP_HEADERS_LENGTH_THRESHOLD:2048}
# 设置应由插件收集的标头名称。标头名称必须遵循`javax.servlet.http`定义。多个名称应以逗号分隔
plugin.http.include_http_headers=${SW_PLUGIN_HTTP_INCLUDE_HTTP_HEADERS:}
# 此配置项控制Feign插件是否应收集请求的http正文
plugin.feign.collect_request_body=${SW_PLUGIN_FEIGN_COLLECT_REQUEST_BODY:false}
# 当启用`COLLECT_REQUEST_BODY`时，要保留并发送到OAP后端的字符数，使用负值保留并发送完整正文
plugin.feign.filter_length_limit=${SW_PLUGIN_FEIGN_FILTER_LENGTH_LIMIT:1024}
# 当启用`COLLECT_REQUEST_BODY`且content-type以SUPPORTED_CONTENT_TYPES_PREFIX开头时，收集请求正文，多个路径应以','分隔
plugin.feign.supported_content_types_prefix=${SW_PLUGIN_FEIGN_SUPPORTED_CONTENT_TYPES_PREFIX:application/json,text/}
# 如果为true，则跟踪InfluxDB访问中的所有influxql(查询和写入)，默认为true
plugin.influxdb.trace_influxql=${SW_PLUGIN_INFLUXDB_TRACE_INFLUXQL:true}
# Apache Dubbo消费者在RPC调用中收集`arguments`，使用`Object#toString`收集`arguments`
plugin.dubbo.collect_consumer_arguments=${SW_PLUGIN_DUBBO_COLLECT_CONSUMER_ARGUMENTS:false}
# 当`plugin.dubbo.collect_consumer_arguments`为`true`时，参数的长度将发送到OAP后端
plugin.dubbo.consumer_arguments_length_threshold=${SW_PLUGIN_DUBBO_CONSUMER_ARGUMENTS_LENGTH_THRESHOLD:256}
# Apache Dubbo提供者在RPC调用中收集`arguments`，使用`Object#toString`收集`arguments`
plugin.dubbo.collect_provider_arguments=${SW_PLUGIN_DUBBO_COLLECT_PROVIDER_ARGUMENTS:false}
# 当`plugin.dubbo.collect_provider_arguments`为`true`时，参数的长度将发送到OAP后端
plugin.dubbo.provider_arguments_length_threshold=${SW_PLUGIN_DUBBO_PROVIDER_ARGUMENTS_LENGTH_THRESHOLD:256}
# 用于建立与Kafka集群初始连接的主机/端口对列表
plugin.kafka.bootstrap_servers=${SW_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
# 从Kafka服务器读取主题的超时时间，单位为秒
plugin.kafka.get_topic_timeout=${SW_GET_TOPIC_TIMEOUT:10}
# Kafka生产者配置。阅读[producer configure](http://kafka.apache.org/24/documentation.html#producerconfigs)获取更多详细信息。查看文档获取更多详细信息和示例
plugin.kafka.producer_config=${SW_PLUGIN_KAFKA_PRODUCER_CONFIG:}
# 以JSON格式配置Kafka生产者配置。注意，如果键重复，它将被plugin.kafka.producer_config[key]覆盖
plugin.kafka.producer_config_json=${SW_PLUGIN_KAFKA_PRODUCER_CONFIG_JSON:}
# 指定用于报告仪表系统数据的Kafka主题名称
plugin.kafka.topic_meter=${SW_PLUGIN_KAFKA_TOPIC_METER:skywalking-meters}
# 指定用于报告JVM指标数据的Kafka主题名称
plugin.kafka.topic_metrics=${SW_PLUGIN_KAFKA_TOPIC_METRICS:skywalking-metrics}
# 指定用于报告跟踪数据的Kafka主题名称
plugin.kafka.topic_segment=${SW_PLUGIN_KAFKA_TOPIC_SEGMENT:skywalking-segments}
# 指定用于报告线程分析快照的Kafka主题名称
plugin.kafka.topic_profiling=${SW_PLUGIN_KAFKA_TOPIC_PROFILINGS:skywalking-profilings}
# 指定用于报告服务实例的注册或心跳数据的Kafka主题名称
plugin.kafka.topic_management=${SW_PLUGIN_KAFKA_TOPIC_MANAGEMENT:skywalking-managements}
# 指定用于报告日志数据的Kafka主题名称
plugin.kafka.topic_logging=${SW_PLUGIN_KAFKA_TOPIC_LOGGING:skywalking-logs}
# 使用相同Kafka集群时隔离多个OAP服务器(最终主题名称将在Kafka主题前加上命名空间并用'-'分隔)
plugin.kafka.namespace=${SW_KAFKA_NAMESPACE:}
# 指定用于解码kafka编码配置的类。如果需要，您可以在`plugin.kafka.producer_config_json`或`plugin.kafka.producer_config`中设置编码信息
plugin.kafka.decode_class=${SW_KAFKA_DECODE_CLASS:}
# 当`Spring annotation plugin`被激活时，使用正则表达式匹配spring bean的类名。多个表达式可以用逗号分隔
plugin.springannotation.classname_match_regex=${SW_SPRINGANNOTATION_CLASSNAME_MATCH_REGEX:}
# 是否以格式化或非格式化方式传输记录的数据
plugin.toolkit.log.transmit_formatted=${SW_PLUGIN_TOOLKIT_LOG_TRANSMIT_FORMATTED:true}
# 如果设置为true，Lettuce代理将收集Redis命令的参数
plugin.lettuce.trace_redis_parameters=${SW_PLUGIN_LETTUCE_TRACE_REDIS_PARAMETERS:false}
# 如果设置为正数且`plugin.lettuce.trace_redis_parameters`设置为`true`，Redis命令参数将被收集并截断到此长度
plugin.lettuce.redis_parameter_max_length=${SW_PLUGIN_LETTUCE_REDIS_PARAMETER_MAX_LENGTH:128}
# 指定应转换为写操作的命令
plugin.lettuce.operation_mapping_write=${SW_PLUGIN_LETTUCE_OPERATION_MAPPING_WRITE:getset,set,setbit,setex,setnx,setrange,strlen,mset,msetnx,psetex,incr,incrby,incrbyfloat,decr,decrby,append,hmset,hset,hsetnx,hincrby,hincrbyfloat,hdel,rpoplpush,rpush,rpushx,lpush,lpushx,lrem,ltrim,lset,brpoplpush,linsert,sadd,sdiff,sdiffstore,sinterstore,sismember,srem,sunion,sunionstore,sinter,zadd,zincrby,zinterstore,zrange,zrangebylex,zrangebyscore,zrank,zrem,zremrangebylex,zremrangebyrank,zremrangebyscore,zrevrange,zrevrangebyscore,zrevrank,zunionstore,xadd,xdel,del,xtrim}
# 指定应转换为读操作的命令
plugin.lettuce.operation_mapping_read=${SW_PLUGIN_LETTUCE_OPERATION_MAPPING_READ:getrange,getbit,mget,hvals,hkeys,hlen,hexists,hget,hgetall,hmget,blpop,brpop,lindex,llen,lpop,lrange,rpop,scard,srandmember,spop,sscan,smove,zlexcount,zscore,zscan,zcard,zcount,xget,get,xread,xlen,xrange,xrevrange}
# 如果设置为true，将收集cypher的参数
plugin.neo4j.trace_cypher_parameters=${SW_PLUGIN_NEO4J_TRACE_CYPHER_PARAMETERS:false}
# 如果设置为正数，`db.cypher.parameters`将被截断到此长度，否则将完全保存，这可能会导致性能问题
plugin.neo4j.cypher_parameters_max_length=${SW_PLUGIN_NEO4J_CYPHER_PARAMETERS_MAX_LENGTH:512}
# 如果设置为正数，`db.statement`将被截断到此长度，否则将完全保存，这可能会导致性能问题
plugin.neo4j.cypher_body_max_length=${SW_PLUGIN_NEO4J_CYPHER_BODY_MAX_LENGTH:2048}
# 如果设置为正数并激活`trace sampler CPU policy plugin`，当agent进程CPU使用率百分比大于`plugin.cpupolicy.sample_cpu_usage_percent_limit`时，将不会收集跟踪
plugin.cpupolicy.sample_cpu_usage_percent_limit=${SW_SAMPLE_CPU_USAGE_PERCENT_LIMIT:-1}
# 此配置项控制Micronaut http客户端插件是否应收集请求的参数。在分析跟踪中也会隐式激活
plugin.micronauthttpclient.collect_http_params=${SW_PLUGIN_MICRONAUTHTTPCLIENT_COLLECT_HTTP_PARAMS:false}
# 此配置项控制Micronaut http服务器插件是否应收集请求的参数。在分析跟踪中也会隐式激活
plugin.micronauthttpserver.collect_http_params=${SW_PLUGIN_MICRONAUTHTTPSERVER_COLLECT_HTTP_PARAMS:false}
# 指定应转换为写操作的命令
plugin.memcached.operation_mapping_write=${SW_PLUGIN_MEMCACHED_OPERATION_MAPPING_WRITE:set,add,replace,append,prepend,cas,delete,touch,incr,decr}
# 指定应转换为读操作的命令
plugin.memcached.operation_mapping_read=${SW_PLUGIN_MEMCACHED_OPERATION_MAPPING_READ:get,gets,getAndTouch,getKeys,getKeysWithExpiryCheck,getKeysNoDuplicateCheck}
# 指定应转换为写操作的命令
plugin.ehcache.operation_mapping_write=${SW_PLUGIN_EHCACHE_OPERATION_MAPPING_WRITE:tryRemoveImmediately,remove,removeAndReturnElement,removeAll,removeQuiet,removeWithWriter,put,putAll,replace,removeQuiet,removeWithWriter,removeElement,removeAll,putWithWriter,putQuiet,putIfAbsent,putIfAbsent}
# 指定应转换为读操作的命令
plugin.ehcache.operation_mapping_read=${SW_PLUGIN_EHCACHE_OPERATION_MAPPING_READ:get,getAll,getQuiet,getKeys,getKeysWithExpiryCheck,getKeysNoDuplicateCheck,releaseRead,tryRead,getWithLoader,getAll,loadAll,getAllWithLoader}
# 指定应转换为写操作的命令
plugin.guavacache.operation_mapping_write=${SW_PLUGIN_GUAVACACHE_OPERATION_MAPPING_WRITE:put,putAll,invalidate,invalidateAll,invalidateAll,cleanUp}
# 指定应转换为读操作的命令
plugin.guavacache.operation_mapping_read=${SW_PLUGIN_GUAVACACHE_OPERATION_MAPPING_READ:getIfPresent,get,getAllPresent,size}
# 如果设置为true，Jedis代理将收集Redis命令的参数
plugin.jedis.trace_redis_parameters=${SW_PLUGIN_JEDIS_TRACE_REDIS_PARAMETERS:false}
# 如果设置为正数且plugin.jedis.trace_redis_parameters设置为true，Redis命令参数将被收集并截断到此长度
plugin.jedis.redis_parameter_max_length=${SW_PLUGIN_JEDIS_REDIS_PARAMETER_MAX_LENGTH:128}
# 指定应转换为写操作的命令
plugin.jedis.operation_mapping_write=${SW_PLUGIN_JEDIS_OPERATION_MAPPING_WRITE:getset,set,setbit,setex,setnx,setrange,strlen,mset,msetnx,psetex,incr,incrby,incrbyfloat,decr,decrby,append,hmset,hset,hsetnx,hincrby,hincrbyfloat,hdel,rpoplpush,rpush,rpushx,lpush,lpushx,lrem,ltrim,lset,brpoplpush,linsert,sadd,sdiff,sdiffstore,sinterstore,sismember,srem,sunion,sunionstore,sinter,zadd,zincrby,zinterstore,zrange,zrangebylex,zrangebyscore,zrank,zrem,zremrangebylex,zremrangebyrank,zremrangebyscore,zrevrange,zrevrangebyscore,zrevrank,zunionstore,xadd,xdel,del,xtrim}
# 指定应转换为读操作的命令
plugin.jedis.operation_mapping_read=${SW_PLUGIN_JEDIS_OPERATION_MAPPING_READ:getrange,getbit,mget,hvals,hkeys,hlen,hexists,hget,hgetall,hmget,blpop,brpop,lindex,llen,lpop,lrange,rpop,scard,srandmember,spop,sscan,smove,zlexcount,zscore,zscan,zcard,zcount,xget,get,xread,xlen,xrange,xrevrange}
# 如果设置为true，Redisson代理将收集Redis命令的参数
plugin.redisson.trace_redis_parameters=${SW_PLUGIN_REDISSON_TRACE_REDIS_PARAMETERS:false}
# 如果设置为正数且plugin.redisson.trace_redis_parameters设置为true，Redis命令参数将被收集并截断到此长度
plugin.redisson.redis_parameter_max_length=${SW_PLUGIN_REDISSON_REDIS_PARAMETER_MAX_LENGTH:128}
# 指定应转换为写操作的命令
plugin.redisson.operation_mapping_write=${SW_PLUGIN_REDISSON_OPERATION_MAPPING_WRITE:getset,set,setbit,setex,setnx,setrange,strlen,mset,msetnx,psetex,incr,incrby,incrbyfloat,decr,decrby,append,hmset,hset,hsetnx,hincrby,hincrbyfloat,hdel,rpoplpush,rpush,rpushx,lpush,lpushx,lrem,ltrim,lset,brpoplpush,linsert,sadd,sdiff,sdiffstore,sinterstore,sismember,srem,sunion,sunionstore,sinter,zadd,zincrby,zinterstore,zrange,zrangebylex,zrangebyscore,zrank,zrem,zremrangebylex,zremrangebyrank,zremrangebyscore,zrevrange,zrevrangebyscore,zrevrank,zunionstore,xadd,xdel,del,xtrim}
# 指定应转换为读操作的命令
plugin.redisson.operation_mapping_read=${SW_PLUGIN_REDISSON_OPERATION_MAPPING_READ:getrange,getbit,mget,hvals,hkeys,hlen,hexists,hget,hgetall,hmget,blpop,brpop,lindex,llen,lpop,lrange,rpop,scard,srandmember,spop,sscan,smove,zlexcount,zscore,zscan,zcard,zcount,xget,get,xread,xlen,xrange,xrevrange}
# 此配置项控制Netty-http插件是否应收集请求的http正文
plugin.nettyhttp.collect_request_body=${SW_PLUGIN_NETTYHTTP_COLLECT_REQUEST_BODY:false}
# 当启用`HTTP_COLLECT_REQUEST_BODY`时，要保留并发送到OAP后端的字符数，使用负值保留并发送完整正文
plugin.nettyhttp.filter_length_limit=${SW_PLUGIN_NETTYHTTP_FILTER_LENGTH_LIMIT:1024}
# 当启用`HTTP_COLLECT_REQUEST_BODY`且content-type以HTTP_SUPPORTED_CONTENT_TYPES_PREFIX开头时，收集请求正文，多个路径应以','分隔
plugin.nettyhttp.supported_content_types_prefix=${SW_PLUGIN_NETTYHTTP_SUPPORTED_CONTENT_TYPES_PREFIX:application/json,text/}
# 如果设置为true，RocketMQ Java客户端的插件将收集消息的键
plugin.rocketmqclient.collect_message_keys=${SW_PLUGIN_ROCKETMQCLIENT_COLLECT_MESSAGE_KEYS:false}
# 如果设置为true，RocketMQ Java客户端的插件将收集消息的标签
plugin.rocketmqclient.collect_message_tags=${SW_PLUGIN_ROCKETMQCLIENT_COLLECT_MESSAGE_TAGS:false}
# 定义收集的HTTP参数的最大长度。默认值(=0)表示不收集
plugin.solon.http_params_length_threshold=${SW_PLUGIN_SOLON_HTTP_PARAMS_LENGTH_THRESHOLD:0}
# 控制应收集哪些标头数据，值必须是小写，如果为空，则不收集标头数据。默认为空
plugin.solon.include_http_headers=${SW_PLUGIN_SOLON_INCLUDE_HTTP_HEADERS:}
# 定义收集的HTTP正文的最大长度。默认值(=0)表示不收集
plugin.solon.http_body_length_threshold=${SW_PLUGIN_SOLON_HTTP_BODY_LENGTH_THRESHOLD:0}
# 指定应转换为写操作的命令
plugin.caffeine.operation_mapping_write=${SW_PLUGIN_CAFFEINE_OPERATION_MAPPING_WRITE:put,putAll,remove,clear}
# 指定应转换为读操作的命令
plugin.caffeine.operation_mapping_read=${SW_PLUGIN_CAFFEINE_OPERATION_MAPPING_READ:getIfPresent,getAllPresent,computeIfAbsent}
